<body class="full-layout">
    <style>

            #tweet {
              width: 400px !important;
            }
          
            #tweet iframe {
              border: none !important;
              box-shadow: none !important;
            }
          
          </style>
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
    <div class="body-wrapper">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header"> <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
          <div class="navbar-brand text-center"> <a href="/dashboard">Home</a><br><br>
            <a href="/browse">Browse</a> </div>
          <!-- /.navbar-brand --> 
        </div>
        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="current"><a href="#home" class="hint--right" data-hint="Home"><i class="budicon-home-1"></i><span>Home</span></a></li>
            <li><a href="#about" class="hint--right" data-hint="About"><i class="budicon-profile"></i><span>About</span></a></li>
            <li><a href="#requirements" class="hint--right" data-hint="Requirements"><i class="budicon-list"></i><span>Requirements</span></a></li>
            <li><a href="#screenshots" class="hint--right" data-hint="Screenshots"><i class="budicon-image"></i><span>Screenshots</span></a></li>
            <li><a href="#videos" class="hint--right" data-hint="Videos"><i class="budicon-video"></i><span>Videos</span></a></li>
            <li><a href="#contact" class="hint--right" data-hint="Tweets"><i class="budicon-profile"></i><span>Tweets</span></a></li>
            <li><a href="#elsewhere" class="hint--right fancybox-inline" data-hint="Follow" data-fancybox-width="325" data-fancybox-height="220"><i class="icon-heart-empty-1"></i><span>Elsewhere</span></a></li>
          </ul>
          <!-- /.navbar-nav --> 
        </div>
        <!-- /.navbar-collapse -->
        <div id="elsewhere" style="display:none;">
          <h1>Follow, Like, Subscribe!</h1>
          <div class="divide20"></div>
          <ul class="social">
            <li><a href="https://twitter.com/PlayApex?lang=en" target="_blank"><i class="icon-s-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/playapex/" target="_blank"><i class="icon-s-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC0ZV6M2THA81QT9hrVWJG3A" target="_blank"><i class="icon-s-youtube"></i></a></li>
          </ul>
        </div>
        <!-- /#elsewhere --> 
      </nav>
      <!-- /.navbar -->
      
      <section id="home" class="naked">
        <div class="fullscreenbanner-container revolution">
          <div class="fullscreenbanner">
    
          </div>
          <!-- /.fullscreenbanner --> 
        </div>
        <!-- /.revolution --> 
      </section>
      <!-- /#home -->
        
      <div class="container">
        <section id="about">
          <div class="box">
            <h2 class="section-title">About The Game</h2>
            <div class="row">
              <div class="col-md-5 col-md-push-7 col-sm-12">
                <figure class="frame"><img src="https://gameguidehq.com/wp-content/uploads/2019/02/apex_legends_bloodhound_wallpaper.jpg" alt="" /></figure>
              </div>
              <!-- /column -->
              <div class="col-md-7 col-md-pull-5 col-sm-12">
                <p style="text-align: justify">Apex Legends is a battle royale game borrowing concepts of the hero shooter, taking place 30 years after the events of Titanfall 2. Apex differs from most battle royale games by incorporating Legends, pre-defined heroes with unique abilities that fall into roles such as Offense, Defense, Support and Recon. Players are grouped into squads of three, each player selecting a unique Legend in turn, and each match features up to 20 teams competing. All teams start with no equipment and are flown over the game's map via dropships from a random direction from which they drop onto any spot on the map they can reach. Teams scour the game map for weapons, ammunition, and other equipment while fighting to be the last team standing, all while staying within an ever-shrinking safe zone on the map.</p> 
                <p style="text-align: justify">A player can be downed into a vulnerable bleed-out state, leaving them only able to crawl for cover or reach a squadmate, who can revive them. If the player bleeds out, or an opponent uses a finisher move on them, they are then eliminated, dropping their equipment to be looted and a banner. The player can potentially be respawned if their squadmates recover this banner and take it to a Spawn Beacon, scattered on the map, in a limited amount of time. Apex features both voice-chat communication with squadmates and a contextual single-button communication approach that allows a player to ping map features like weapons, opponents, or rally points.</p>
                <p style="text-align: justify">Release Date: &nbsp February 4, 2019<br>
                                            Platform: &nbsp Microsoft Windows, PlayStation 4, Xbox One<br>
                                            Genre: &nbsp Battle royale, First-Person Shooter<br>
                                            Mode: &nbsp Multiplayer</p>    
            </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
             
          </div>
          <!-- /.box --> 
        </section>
        <!-- /#about -->

        <section id="requirements">
                <div class="box">
                  <h2 class="section-title">System Requirements</h2>
                  <div class="row">
                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                        <p><h4>Minimum</h4></p>
                        OS: &nbsp 64-bit Windows 7<br>
                        CPU: &nbsp Intel Core i3-6300 3.8GHz / AMD FX-4350 4.2 GHz Quad-Core<br>
                        RAM: &nbsp 6 GB System Memory<br>
                        GPU: &nbsp NVIDIA GeForce GT 640 / Radeon HD 7730<br>
                        GPU RAM: &nbsp 1 GB Video Memory<br>
                        HARD DRIVE: &nbsp At least 22 GB of free space<br>
                    </div>
                    <!-- /column -->
                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                        <p><h4>Recommended</h4></p>
                        OS: &nbsp 64-bit Windows 7<br>
                        CPU: &nbsp Intel i5 3570K or equivalent<br>
                        RAM: &nbsp 8 GB System Memory<br>
                        GPU: &nbsp Nvidia GeForce GTX 970 / AMD Radeon R9 290<br>
                        GPU RAM: &nbsp 8 GB Video Memory<br>
                        HARD DRIVE: &nbsp At least 2 GB of free space<br>  
                  </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                   
                </div>
                <!-- /.box --> 
              </section>
              <!-- /#requirements -->

         <section id="screenshots" class="portfolio">
                  <div class="box">
                    <h2 class="section-title pull-left">Screenshots</h2>
                    <div class="clearfix"></div>
                    <div id="grid-container" class="cbp-l-grid-masonry">
                      <ul>
                        <li class="cbp-item frame architecture">
                          <div class="cbp-caption-defaultWrap"> <img src="https://www.newgamenetwork.com/images/uploads/gallery/ApexLegends/ApexLegends_01.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame macro">
                          <div class="cbp-caption-defaultWrap"> <img src="https://www.mobygames.com/images/shots/l/961620-apex-legends-windows-screenshot-moving-in-on-a-house-with.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame portrait">
                          <div class="cbp-caption-defaultWrap"> <img src="https://data1.origin.com/asset/content/dam/originx/web/app/games/apex/apex/F2P/screenshots/BangaloreEnviroment_v02.jpg/b52db028-d685-4695-a6bd-34581de45585/original.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame still-life">
                          <div class="cbp-caption-defaultWrap"> <img src="https://www.newgamenetwork.com/images/uploads/gallery/ApexLegends/ApexLegends_12.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame architecture">
                          <div class="cbp-caption-defaultWrap"> <img src="https://www.mobygames.com/images/shots/l/961625-apex-legends-windows-screenshot-spectating-a-squad-member.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame macro">
                          <div class="cbp-caption-defaultWrap"> <img src="https://icdn2.digitaltrends.com/image/apex-legends-screenshots-6945.jpg" alt=""> </div>
                        </li>
                      </ul>
                    </div>
                    <!-- /.cbp-l-grid-masonry -->
                    </div>
                  <!-- /.box --> 
                </section>
                <!-- /#screenshots -->

                <section id="videos">
                        <div class="box">
                          <h2 class="section-title">Videos</h2>
                          <div class="row">
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                <iframe width="510" height="280" src="https://www.youtube.com/embed/UMJb_mkqynU">
                                </iframe>
                            </div>
                            <!-- /column -->
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                <iframe width="510" height="280" src="https://www.youtube.com/embed/7M4Vds3fI9E">
                                </iframe>  
                            </div><br><br>
                            <!-- /column -->
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                    <iframe width="510" height="280" src="https://www.youtube.com/embed/mrvIaAYZYVw">
                                    </iframe>
                                </div>
                                <!-- /column -->
                                <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                    <iframe width="510" height="280" src="https://www.youtube.com/embed/innmNewjkuk">
                                    </iframe>  
                                </div><br>
                                <!-- /column -->
                          </div>
                          <!-- /.row -->
                           
                        </div>
                        <!-- /.box --> 
                      </section>
                      <!-- /#requirements -->
        
        <!-- /#tweets -->
        <section id="contact">
          <div class="box">
                <h2 class="section-title pull-left">Tweets</h2>
                <div class="clearfix"></div>
                <div id="grid-container" class="cbp-l-grid-masonry">
                <div class="row">
                <div id="tweet0" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet1" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet2" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                </div>
                <div class="row">
                <div id="tweet3" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet4" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet5" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                </div>
                <script sync src="https://platform.twitter.com/widgets.js"></script>
  
                <script type='text/javascript'>

                var tweet = [];
                var id = [];
                var rows =<%-JSON.stringify(alltweets)%>

                for (var i = 0; i < rows.length; i++){
                    
                    tweet[i] = document.getElementById("tweet" + i);
                    id[i] = rows[i].id_str;
                
                    twttr.widgets.createTweet(
                        id[i], tweet[i], 
                        {
                        conversation : 'none',    // or all
                        cards        : 'visible',  // or visible 
                        linkColor    : '#cc0000', // default is blue
                        theme        : 'light'    // or dark
                        })
                };
                </script>
                </div>
          </div>
          <!-- /.box --> 
        </section>
        <!-- /#tweets -->
        
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.body-wrapper --> 
    </body>