<body>
<form>
    <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">             
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="/dashboard">Home</a></li>                 
                     </ul>
                     <ul class="nav navbar-nav navbar-right">
                        <a href="/users/logout" class="btn btn-danger navbar-btn">Logout</a>                             
                      </ul>
                </div>
              </div>
            </nav>  
        </form>
        
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="/anthem">
                            <img class="pic-1" src="./images/anthem/anthemposter.jpg">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title">Anthem</h3>
                        <div>(2019)</div>
                    </div>
                    <ul class="social">
                        <li><a href="/anthem" data-tip="EXPLORE" target="_blank"><i class="fa fa-search"></i></a></li>
                        <li><a href="https://www.ea.com/games/anthem/buy" data-tip="BUY"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="#">
                            <img class="pic-1" src="./images/division/divisionposter.jpg">
                        </a>
                    </div>
                    <div class="product-content">
                            <h3 class="title">Tom Clancy's The Division 2</h3>
                            <div>(2019)</div>
                        </div>
                    <ul class="social">
                        <li><a href="" data-tip="EXPLORE" target="_blank"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="BUY"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="#">
                            <img class="pic-1" src="./images/farcry/farcryposter.jpg">
                        </a>
                    </div>
                    <div class="product-content">
                            <h3 class="title">Far Cry New Dawn</h3>
                            <div>(2019)</div>
                        </div>
                    <ul class="social">
                        <li><a href="" data-tip="EXPLORE" target="_blank"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="BUY"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                            <div class="product-image6">
                                    <a href="#">
                                        <img class="pic-1" src="./images/metro/metroposter.jpg">
                                    </a>
                                </div>
                                <div class="product-content">
                                        <h3 class="title">Metro Exodus</h3>
                                        <div>(2019)</div>
                                    </div>
                    <ul class="social">
                        <li><a href="" data-tip="EXPLORE" target="_blank"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="BUY"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    <hr>       
</body>