<body>
<form>
    <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">             
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="/dashboard">Home</a></li>                 
                     </ul>
                     <ul class="nav navbar-nav navbar-right">
                        <a href="/users/logout" class="btn btn-danger navbar-btn">Logout</a>                             
                      </ul>
                </div>
              </div>
            </nav>  
        </form>
        
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="/anthem">
                            <img class="pic-1" src="./images/anthem/anthemposter.jpg">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title">Anthem</h3>
                        <div>(2019)</div>
                    </div>
                    <ul class="social">
                        <li><a href="/anthem" data-tip="EXPLORE" target="_blank"><i class="fa fa-search"></i></a></li>
                        <li><a href="https://www.ea.com/games/anthem/buy" target="_blank" data-tip="BUY"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="/division">
                            <img class="pic-1" src="./images/division/divisionposter.jpg">
                        </a>
                    </div>
                    <div class="product-content">
                            <h3 class="title">Tom Clancy's The Division 2</h3>
                            <div>(2019)</div>
                        </div>
                    <ul class="social">
                        <li><a href="/division" data-tip="EXPLORE" target="_blank"><i class="fa fa-search"></i></a></li>
                        <li><a href="https://store.ubi.com/us/productageform/?pid=5b06a39a4e0165fa45ffdcfd&lang=en_US" target="_blank" data-tip="BUY"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="/farcry">
                            <img class="pic-1" src="./images/farcry/farcryposter.jpg">
                        </a>
                    </div>
                    <div class="product-content">
                            <h3 class="title">Far Cry New Dawn</h3>
                            <div>(2019)</div>
                        </div>
                    <ul class="social">
                        <li><a href="/farcry" data-tip="EXPLORE" target="_blank"><i class="fa fa-search"></i></a></li>
                        <li><a href="https://far-cry.ubisoft.com/game/en-us/buy" target="_blank" data-tip="BUY"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                                    <a href="/metroexodus">
                                        <img class="pic-1" src="./images/metro/metroposter.jpg">
                                    </a>
                                </div>
                                <div class="product-content">
                                        <h3 class="title">Metro Exodus</h3>
                                        <div>(2019)</div>
                                    </div>
                    <ul class="social">
                        <li><a href="/metroexodus" data-tip="EXPLORE" target="_blank"><i class="fa fa-search"></i></a></li>
                        <li><a href="https://www.metrothegame.com/preorder/" target="_blank" data-tip="BUY"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="/devilmaycry">
                            <img class="pic-1" src="./images/devilmaycry/devilmaycryposter.jpg">
                        </a>
                    </div>
                    <div class="product-content">
                            <h3 class="title">Devil May Cry 5</h3>
                            <div>(2019)</div>
                        </div>
                    <ul class="social">
                        <li><a href="/devilmaycry" data-tip="EXPLORE" target="_blank"><i class="fa fa-search"></i></a></li>
                        <li><a href="http://www.devilmaycry5.com/us/" target="_blank" data-tip="BUY"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="/mortalkombat">
                            <img class="pic-1" src="./images/mortalkombat/mortalkombatposter.jpg">
                        </a>
                    </div>
                    <div class="product-content">
                            <h3 class="title">Mortal Kombat 11</h3>
                            <div>(2019)</div>
                        </div>
                    <ul class="social">
                        <li><a href="/mortalkombat" data-tip="EXPLORE" target="_blank"><i class="fa fa-search"></i></a></li>
                        <li><a href="https://mortalkombat.com/purchase" target="_blank" data-tip="BUY"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    <hr>       
</body>