<body class="full-layout">
    <style>

            #tweet {
              width: 400px !important;
            }
          
            #tweet iframe {
              border: none !important;
              box-shadow: none !important;
            }
          
          </style>
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
    <div class="body-wrapper">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header"> <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
          <div class="navbar-brand text-center"> <a href="/dashboard">Home</a><br><br>
            <a href="/browse">Browse</a> </div>
          <!-- /.navbar-brand --> 
        </div>
        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="current"><a href="#home" class="hint--right" data-hint="Home"><i class="budicon-home-1"></i><span>Home</span></a></li>
            <li><a href="#about" class="hint--right" data-hint="About"><i class="budicon-profile"></i><span>About</span></a></li>
            <li><a href="#requirements" class="hint--right" data-hint="Requirements"><i class="budicon-list"></i><span>Requirements</span></a></li>
            <li><a href="#screenshots" class="hint--right" data-hint="Screenshots"><i class="budicon-image"></i><span>Screenshots</span></a></li>
            <li><a href="#videos" class="hint--right" data-hint="Videos"><i class="budicon-video"></i><span>Videos</span></a></li>
            <li><a href="#contact" class="hint--right" data-hint="Tweets"><i class="budicon-profile"></i><span>Tweets</span></a></li>
            <li><a href="#elsewhere" class="hint--right fancybox-inline" data-hint="Follow" data-fancybox-width="325" data-fancybox-height="220"><i class="icon-heart-empty-1"></i><span>Elsewhere</span></a></li>
          </ul>
          <!-- /.navbar-nav --> 
        </div>
        <!-- /.navbar-collapse -->
        <div id="elsewhere" style="display:none;">
          <h1>Follow, Like, Subscribe!</h1>
          <div class="divide20"></div>
          <ul class="social">
            <li><a href="https://twitter.com/DevilMayCry" target="_blank"><i class="icon-s-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/devilmaycry" target="_blank"><i class="icon-s-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCDy9spkUsrtu9SHaR8VNwUQ" target="_blank"><i class="icon-s-youtube"></i></a></li>
          </ul>
        </div>
        <!-- /#elsewhere --> 
      </nav>
      <!-- /.navbar -->
      
      <section id="home" class="naked">
        <div class="fullscreenbanner-container revolution">
          <div class="fullscreenbanner">
          </div>
          <!-- /.fullscreenbanner --> 
        </div>
        <!-- /.revolution --> 
      </section>
      <!-- /#home -->
        
      <div class="container">
        <section id="about">
          <div class="box">
            <h2 class="section-title">About The Game</h2>
            <div class="row">
              <div class="col-md-5 col-md-push-7 col-sm-12">
                <figure class="frame"><img src="https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fresize%3D2000%252C2000%252Cshrink%26image_uri%3Dhttps%253A%252F%252Fmedia-mbst-pub-ue1.s3.amazonaws.com%252Fcreatr-uploaded-images%252F2018-10%252F4dce3310-d635-11e8-bf7f-bf0ea2e0fe6c%26client%3Da1acac3e1b3290917d92%26signature%3De7f3b2929ba866d121af58b019bb5556e17974c3&client=amp-blogside-v2&signature=3a84d94612e6c8b47b01b5d7408f65f0fa9b6225" alt="" /></figure>
              </div>
              <!-- /column -->
              <div class="col-md-7 col-md-pull-5 col-sm-12">
                <p style="text-align: justify">The gameplay features the return of Dante and Nero as playable characters, along with a new character, named "V". The gameplay is similar to the other titles in the Devil May Cry series, focusing on fast-paced "stylish action".</p> 
                <p style="text-align: justify">The player fights off hordes of demons with a variety of attacks and weapons and receives a style-rating in combat based on a number of factors, such as move variety, the length of a combo and dodging attacks. The music in the game changes based on the player's performance in combat.</p>
                <p style="text-align: justify">Release Date: &nbsp March 8, 2019<br>
                                            Platform: &nbsp Microsoft Windows, PlayStation 4, Xbox One<br>
                                            Genre: &nbsp Action-adventure, hack and slash<br>
                                            Mode: &nbsp Single-player, Multiplayer</p>    
            </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
             
          </div>
          <!-- /.box --> 
        </section>
        <!-- /#about -->

        <section id="requirements">
                <div class="box">
                  <h2 class="section-title">System Requirements</h2>
                  <div class="row">
                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                        <p><h4>Minimum</h4></p>
                        OS: &nbsp WINDOWS® 7 (64-BIT Required)<br>
                        CPU: &nbsp Intel® Core™ i7-4770 3.4GHz or better<br>
                        RAM: &nbsp 8 GB System Memory<br>
                        GPU: &nbsp NVIDIA® GeForce® GTX760 or better<br>                        
                        HARD DRIVE: &nbsp At least 35 GB of free space<br>
                        DIRECTX: &nbsp DirectX 11
                    </div>
                    <!-- /column -->
                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                        <p><h4>Recommended</h4></p>
                        OS: &nbsp WINDOWS® 7 (64-BIT Required)<br>
                        CPU: &nbsp Intel® Core™ i7-4770 3.4GHz or better<br>
                        RAM: &nbsp 8 GB System Memory<br>
                        GPU: &nbsp NVIDIA® GeForce® GTX960 or better<br>
                        HARD DRIVE: &nbsp At least 35 GB of free space<br>
                        DIRECTX: &nbsp DirectX 11   
                  </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                   
                </div>
                <!-- /.box --> 
              </section>
              <!-- /#requirements -->

         <section id="screenshots" class="portfolio">
                  <div class="box">
                    <h2 class="section-title pull-left">Screenshots</h2>
                    <div class="clearfix"></div>
                    <div id="grid-container" class="cbp-l-grid-masonry">
                      <ul>
                        <li class="cbp-item frame architecture">
                          <div class="cbp-caption-defaultWrap"> <img src="https://assets.vg247.com/current//2018/08/devil_may_cry_5_gamescom_2018-2.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame macro">
                          <div class="cbp-caption-defaultWrap"> <img src="https://assets.vg247.com/current//2018/08/devil_may_cry_5_gamescom_2018-11.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame portrait">
                          <div class="cbp-caption-defaultWrap"> <img src="https://assets.vg247.com/current//2018/08/devil_may_cry_5_gamescom_2018-9.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame still-life">
                          <div class="cbp-caption-defaultWrap"> <img src="https://assets.vg247.com/current//2018/08/devil_may_cry_5_gamescom_2018-13.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame architecture">
                          <div class="cbp-caption-defaultWrap"> <img src="https://assets.vg247.com/current//2018/08/devil_may_cry_5_gamescom_2018-8.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame macro">
                          <div class="cbp-caption-defaultWrap"> <img src="https://assets.vg247.com/current//2018/08/devil_may_cry_5_gamescom_2018-14.jpg" alt=""> </div>
                        </li>
                      </ul>
                    </div>
                    <!-- /.cbp-l-grid-masonry -->
                    </div>
                  <!-- /.box --> 
                </section>
                <!-- /#screenshots -->

                <section id="videos">
                        <div class="box">
                          <h2 class="section-title">Videos</h2>
                          <div class="row">
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                <iframe width="510" height="280" src="https://www.youtube.com/embed/p2lWUQHUapM">
                                </iframe>
                            </div>
                            <!-- /column -->
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                <iframe width="510" height="280" src="https://www.youtube.com/embed/KMSGj9Y2T9Q">
                                </iframe>  
                            </div><br><br>
                            <!-- /column -->
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                    <iframe width="510" height="280" src="https://www.youtube.com/embed/MWxlbnI9mpU">
                                    </iframe>
                                </div>
                                <!-- /column -->
                                <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                    <iframe width="510" height="280" src="https://www.youtube.com/embed/zT0I9-2_pfg">
                                    </iframe>  
                                </div><br>
                                <!-- /column -->
                          </div>
                          <!-- /.row -->
                           
                        </div>
                        <!-- /.box --> 
                      </section>
                      <!-- /#requirements -->
        
        <!-- /#tweets -->
        <section id="contact">
          <div class="box">
                <h2 class="section-title pull-left">Tweets</h2>
                <div class="clearfix"></div>
                <div id="grid-container" class="cbp-l-grid-masonry">
                <div class="row">
                <div id="tweet0" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet1" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet2" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                </div>
                <div class="row">
                <div id="tweet3" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet4" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet5" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                </div>
                <script sync src="https://platform.twitter.com/widgets.js"></script>
  
                <script type='text/javascript'>

                var tweet = [];
                var id = [];
                var rows =<%-JSON.stringify(alltweets)%>

                for (var i = 0; i < rows.length; i++){
                    
                    tweet[i] = document.getElementById("tweet" + i);
                    id[i] = rows[i].id_str;
                
                    twttr.widgets.createTweet(
                        id[i], tweet[i], 
                        {
                        conversation : 'none',    // or all
                        cards        : 'visible',  // or visible 
                        linkColor    : '#cc0000', // default is blue
                        theme        : 'light'    // or dark
                        })
                };
                </script>
                </div>
          </div>
          <!-- /.box --> 
        </section>
        <!-- /#tweets -->
        
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.body-wrapper --> 
    </body>