<body class="full-layout">
        <style>

                #tweet {
                  width: 400px !important;
                }
              
                #tweet iframe {
                  border: none !important;
                  box-shadow: none !important;
                }
              
              </style>
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
        <div class="body-wrapper">
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header"> <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
              <div class="navbar-brand text-center"> <a href="/dashboard">Home</a><br><br>
                <a href="/browse">Browse</a> </div>
              <!-- /.navbar-brand --> 
            </div>
            <!-- /.navbar-header -->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="current"><a href="#home" class="hint--right" data-hint="Home"><i class="budicon-home-1"></i><span>Home</span></a></li>
                <li><a href="#about" class="hint--right" data-hint="About"><i class="budicon-profile"></i><span>About</span></a></li>
                <li><a href="#requirements" class="hint--right" data-hint="Requirements"><i class="budicon-list"></i><span>Requirements</span></a></li>
                <li><a href="#screenshots" class="hint--right" data-hint="Screenshots"><i class="budicon-image"></i><span>Screenshots</span></a></li>
                <li><a href="#videos" class="hint--right" data-hint="Videos"><i class="budicon-video"></i><span>Videos</span></a></li>
                <li><a href="#contact" class="hint--right" data-hint="Tweets"><i class="budicon-profile"></i><span>Tweets</span></a></li>
                <li><a href="#elsewhere" class="hint--right fancybox-inline" data-hint="Follow" data-fancybox-width="325" data-fancybox-height="220"><i class="icon-heart-empty-1"></i><span>Elsewhere</span></a></li>
              </ul>
              <!-- /.navbar-nav --> 
            </div>
            <!-- /.navbar-collapse -->
            <div id="elsewhere" style="display:none;">
              <h1>Follow, Like, Subscribe!</h1>
              <div class="divide20"></div>
              <ul class="social">
                <li><a href="https://twitter.com/thedivisiongame?lang=en" target="_blank"><i class="icon-s-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/TheDivisionGame/" target="_blank"><i class="icon-s-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCBMvc6jvuTxH6TNo9ThpYjg" target="_blank"><i class="icon-s-youtube"></i></a></li>
              </ul>
            </div>
            <!-- /#elsewhere --> 
          </nav>
          <!-- /.navbar -->
          
          <section id="home" class="naked">
            <div class="fullscreenbanner-container revolution">
              <div class="fullscreenbanner">
                <ul>
                  <li data-transition="fade"> <img src="./style/images/dummy.png"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="repeat">
                    <h1 class="tp-caption caption large sfb" data-x="center" data-y="center" data-voffset="-25" data-speed="900" data-start="1000" data-endspeed="100" data-easing="Sine.easeOut" style="color: black">TOM CLANCY'S THE DIVISION 2</h1>
                    <div class="tp-caption tp-fade fadeout tp-resizeme" data-x="center" data-y="center" data-voffset="25" data-speed="100"
                    data-start="1500"
                    data-easing="Power4.easeOut"
                    data-splitin="chars"
                    data-splitout="chars"
                    data-elementdelay="0.03"
                    data-endelementdelay="0"
                    data-endspeed="100"
                    data-endeasing="Power1.easeOut"
                    style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; font-family: 'Lucida Console'; color: black"><b>When society falls, we rise!</b></div>
                    <div class="arrow smooth"><a href="#about"><i class="icon-down-open-big"></i></a></div>
                  </li>
                </ul>
                <div class="tp-bannertimer"></div>
              </div>
              <!-- /.fullscreenbanner --> 
            </div>
            <!-- /.revolution --> 
          </section>
          <!-- /#home -->
            
          <div class="container">
            <section id="about">
              <div class="box">
                <h2 class="section-title">About The Game</h2>
                <div class="row">
                  <div class="col-md-5 col-md-push-7 col-sm-12">
                    <figure class="frame"><img src="https://ubistatic19-a.akamaihd.net/marketingresource/en-au/the-division/the-division-2/assets/images/tctd2-standard-small.jpg" alt="" /></figure>
                  </div>
                  <!-- /column -->
                  <div class="col-md-7 col-md-pull-5 col-sm-12">
                    <p style="text-align: justify">Played from a third-person perspective, the game takes place in Washington D.C. 7 months after its predecessor, in which a civil war between survivors and villainous bands of marauders breaks out.</p> 
                    <p style="text-align: justify">In the game, players can cooperate with each other to complete objectives. The game will also feature raids, which can be completed by up to 8 players.</p>
                    <p style="text-align: justify">Release Date: &nbsp March 15, 2019<br>
                                                Platform: &nbsp Microsoft Windows, PlayStation 4, Xbox One<br>
                                                Genre: &nbsp Action role-playing, Survival, Third Person Shooter<br>
                                                Mode: &nbsp Multiplayer</p>    
                </div>
                  <!-- /column -->
                </div>
                <!-- /.row -->
                 
              </div>
              <!-- /.box --> 
            </section>
            <!-- /#about -->

            <section id="requirements">
                    <div class="box">
                      <h2 class="section-title">System Requirements</h2>
                      <div class="row">
                        <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                            <p><h4>Minimum</h4></p>
                            OS: &nbsp Windows 7 | 8 | 10<br>
                            CPU: &nbsp AMD FX-6350 | Intel Core I5-2500K<br>
                            RAM: &nbsp 8 GB System Memory<br>
                            GPU: &nbsp AMD Radeon R9 270 | Nvidia Geforce GTX 670<br>
                            GPU RAM: &nbsp 2 GB Video Memory<br>
                            HARD DRIVE: &nbsp At least 50 GB of free space<br>
                            DIRECTX: &nbsp DirectX 11 | 12
                        </div>
                        <!-- /column -->
                        <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                            <p><h4>Recommended</h4></p>
                            OS: &nbsp Windows 7 | 8 | 10<br>
                            CPU: &nbsp AMD Ryzen 5 1500X | Intel Core I7-4790<br>
                            RAM: &nbsp 8 GB System Memory<br>
                            GPU: &nbsp AMD RX 480 | Nvidia Geforce GTX 970<br>
                            GPU RAM: &nbsp 4 GB Video Memory<br>
                            DIRECTX: &nbsp DirectX 11 | 12 
                      </div>
                        <!-- /column -->
                      </div>
                      <!-- /.row -->
                       
                    </div>
                    <!-- /.box --> 
                  </section>
                  <!-- /#requirements -->

             <section id="screenshots" class="portfolio">
                      <div class="box">
                        <h2 class="section-title pull-left">Screenshots</h2>
                        <div class="clearfix"></div>
                        <div id="grid-container" class="cbp-l-grid-masonry">
                          <ul>
                            <li class="cbp-item frame architecture">
                              <div class="cbp-caption-defaultWrap"> <img src="https://i.ytimg.com/vi/mnyr2YXYoZs/maxresdefault.jpg" alt=""> </div>
                            </li>
                            <li class="cbp-item frame macro">
                              <div class="cbp-caption-defaultWrap"> <img src="http://www.gamersyde.com/news_e3_the_division_2_in_4k_60fps-20190.jpg" alt=""> </div>
                            </li>
                            <li class="cbp-item frame portrait">
                              <div class="cbp-caption-defaultWrap"> <img src="https://ocs-pl.oktawave.com/v1/AUTH_2887234e-384a-4873-8bc5-405211db13a2/spidersweb/2019/02/The-Division-2-beta-5.jpg" alt=""> </div>
                            </li>
                            <li class="cbp-item frame still-life">
                              <div class="cbp-caption-defaultWrap"> <img src="https://www.dsogaming.com/wp-content/uploads/2019/01/The-Division-2-new-2-672x372.jpg" alt=""> </div>
                            </li>
                            <li class="cbp-item frame architecture">
                              <div class="cbp-caption-defaultWrap"> <img src="https://totalgamingnetwork.com/filedata/fetch?type=large&id=3379753" alt=""> </div>
                            </li>
                            <li class="cbp-item frame macro">
                              <div class="cbp-caption-defaultWrap"> <img src="https://icdn2.digitaltrends.com/image/the-division-2-hands-on-preview-6957.jpg" alt=""> </div>
                            </li>
                          </ul>
                        </div>
                        <!-- /.cbp-l-grid-masonry -->
                        </div>
                      <!-- /.box --> 
                    </section>
                    <!-- /#screenshots -->

                    <section id="videos">
                            <div class="box">
                              <h2 class="section-title">Videos</h2>
                              <div class="row">
                                <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                    <iframe width="510" height="280" src="https://www.youtube.com/embed/sli7AbX2bEk">
                                    </iframe>
                                </div>
                                <!-- /column -->
                                <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                    <iframe width="510" height="280" src="https://www.youtube.com/embed/jF9OG_2NH4M">
                                    </iframe>  
                                </div><br><br>
                                <!-- /column -->
                                <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                        <iframe width="510" height="280" src="https://www.youtube.com/embed/1oZruYixFT4 ">
                                        </iframe>
                                    </div>
                                    <!-- /column -->
                                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                        <iframe width="510" height="280" src="https://www.youtube.com/embed/4pAyxnTX8FU">
                                        </iframe>  
                                    </div><br>
                                    <!-- /column -->
                              </div>
                              <!-- /.row -->
                               
                            </div>
                            <!-- /.box --> 
                          </section>
                          <!-- /#requirements -->
            
            <!-- /#tweets -->
            <section id="contact">
              <div class="box">
                    <h2 class="section-title pull-left">Tweets</h2>
                    <div class="clearfix"></div>
                    <div id="grid-container" class="cbp-l-grid-masonry">
                    <div class="row">
                    <div id="tweet0" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                    <div id="tweet1" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                    <div id="tweet2" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                    </div>
                    <div class="row">
                    <div id="tweet3" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                    <div id="tweet4" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                    <div id="tweet5" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                    </div>
                    <script sync src="https://platform.twitter.com/widgets.js"></script>
      
                    <script type='text/javascript'>

                    var tweet = [];
                    var id = [];
                    var rows =<%-JSON.stringify(alltweets)%>

                    for (var i = 0; i < rows.length; i++){
                        
                        tweet[i] = document.getElementById("tweet" + i);
                        id[i] = rows[i].id_str;
                    
                        twttr.widgets.createTweet(
                            id[i], tweet[i], 
                            {
                            conversation : 'none',    // or all
                            cards        : 'visible',  // or visible 
                            linkColor    : '#cc0000', // default is blue
                            theme        : 'light'    // or dark
                            })
                    };
                    </script>
                    </div>
              </div>
              <!-- /.box --> 
            </section>
            <!-- /#tweets -->
            
          </div>
          <!-- /.container --> 
        </div>
        <!-- /.body-wrapper --> 
        </body>