<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Metro Exodus</title>
    <!-- Bootstrap core CSS -->
<link href="./style/css/bootstrap.min.css" rel="stylesheet">
<link href="./style/css/plugins.css" rel="stylesheet">
<link href="./style/css/prettify.css" rel="stylesheet">
<link href="./style/css/style.css" rel="stylesheet">
<link href="./style/css/color/white.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,800,700,600,500,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
<link href="./style/type/fontello.css" rel="stylesheet">
<link href="./style/type/budicons.css" rel="stylesheet">
  </head>
  <body>
    <!-- <div class="container"> -->
      <%- body %>
    <!-- </div> -->
    <script src="./style/js/jquery.min.js"></script> 
    <script src="./style/js/bootstrap.min.js"></script> 
    <script src="./style/js/jquery.themepunch.tools.min.js"></script> 
    <script src="./style/js/classie.js"></script> 
    <script src="./style/js/plugins.js"></script> 
    <script src="./style/js/scripts.js"></script>  
    <script>
        $.backstretch(["https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc2nATPeFu8EAKNFIit3vbvcAVQOxHjkN.HLl.Sg6jjyvOKI34Zy_o5Cr1LVvyaKylFfCQ_oRZwZO0k2XA.6lIjvwvvVqKCF8laDiLnHlsuco6Hj8a4kI2eud94UPN1YANN0q7PL6GccedQ27c3PurP7QquShlEeCR0_xmASyWRhA-&h=1080&w=1920&format=jpg"]);
    </script>

  </body>
</html>