<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <!-- start asp -->
    <!-- Bootstrap core CSS -->
    <script src="bootstrap-3.3.7\docs\assets\js\vendor\jquery.min.js"></script>
    <script src="bootstrap-3.3.7\docs\dist\js\bootstrap.js"></script>
    <link href="bootstrap-3.3.7\docs\dist\css\bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap-3.3.7\docs\dist\css\bootstrap.css" rel="stylesheet"> 

    <link href="bootstrap-3.3.7\docs\assets\css\ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="bootstrap-3.3.7\bootstrap-3.3.7\docs\assets\js\ie-emulation-modes-warning.js"></script>
    <link rel="stylesheet" href="./extracssjs/demo.css"/>
	  <link rel="stylesheet" href="./extracssjs/footer-distributed-with-address-and-phones.css"/>
	
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>

	  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css"/>
    <link href="./extracssjs/carousel.css" rel="stylesheet">
     <!-- end asp -->
     
    <title>Node.js & Passport Login App</title>
  </head>
  <body>
    <!-- <div class="container"> -->
      <%- body %>
    <!-- </div> -->
    <!-- asp start -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="bootstrap-3.3.7\docs\dist\css\bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="bootstrap-3.3.7\docs\assets\js\vendor\holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap-3.3.7\docs\assets\js\ie10-viewport-bug-workaround.js"></script>
    <!-- asp end -->
  </body>
</html>