<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Anthem</title>
    <!-- Bootstrap core CSS -->
<link href="./style/css/bootstrap.min.css" rel="stylesheet">
<link href="./style/css/plugins.css" rel="stylesheet">
<link href="./style/css/prettify.css" rel="stylesheet">
<link href="./style/css/style.css" rel="stylesheet">
<link href="./style/css/color/blue.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,800,700,600,500,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
<link href="./style/type/fontello.css" rel="stylesheet">
<link href="./style/type/budicons.css" rel="stylesheet">
  </head>
  <body>
    <!-- <div class="container"> -->
      <%- body %>
    <!-- </div> -->
    <script src="./style/js/jquery.min.js"></script> 
    <script src="./style/js/bootstrap.min.js"></script> 
    <script src="./style/js/jquery.themepunch.tools.min.js"></script> 
    <script src="./style/js/classie.js"></script> 
    <script src="./style/js/plugins.js"></script> 
    <script src="./style/js/scripts.js"></script>  
    <script>
        $.backstretch(["https://images3.alphacoders.com/929/thumb-1920-929416.jpg"]);
    </script>

  </body>
</html>