<body class="full-layout">
    <style>

            #tweet {
              width: 400px !important;
            }
          
            #tweet iframe {
              border: none !important;
              box-shadow: none !important;
            }
          
          </style>
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
    <div class="body-wrapper">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header"> <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
          <div class="navbar-brand text-center"> <a href="/dashboard">Home</a><br><br>
            <a href="/browse">Browse</a> </div>
          <!-- /.navbar-brand --> 
        </div>
        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="current"><a href="#home" class="hint--right" data-hint="Home"><i class="budicon-home-1"></i><span>Home</span></a></li>
            <li><a href="#about" class="hint--right" data-hint="About"><i class="budicon-profile"></i><span>About</span></a></li>
            <li><a href="#requirements" class="hint--right" data-hint="Requirements"><i class="budicon-list"></i><span>Requirements</span></a></li>
            <li><a href="#screenshots" class="hint--right" data-hint="Screenshots"><i class="budicon-image"></i><span>Screenshots</span></a></li>
            <li><a href="#videos" class="hint--right" data-hint="Videos"><i class="budicon-video"></i><span>Videos</span></a></li>
            <li><a href="#contact" class="hint--right" data-hint="Tweets"><i class="budicon-profile"></i><span>Tweets</span></a></li>
            <li><a href="#elsewhere" class="hint--right fancybox-inline" data-hint="Follow" data-fancybox-width="325" data-fancybox-height="220"><i class="icon-heart-empty-1"></i><span>Elsewhere</span></a></li>
          </ul>
          <!-- /.navbar-nav --> 
        </div>
        <!-- /.navbar-collapse -->
        <div id="elsewhere" style="display:none;">
          <h1>Follow, Like, Subscribe!</h1>
          <div class="divide20"></div>
          <ul class="social">
            <li><a href="https://twitter.com/MetroVideoGame" target="_blank"><i class="icon-s-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/MetroExodusgame/" target="_blank"><i class="icon-s-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC6XGqPhLktO4equS99J2ENw" target="_blank"><i class="icon-s-youtube"></i></a></li>
          </ul>
        </div>
        <!-- /#elsewhere --> 
      </nav>
      <!-- /.navbar -->
      
      <section id="home" class="naked">
        <div class="fullscreenbanner-container revolution">
          <div class="fullscreenbanner">
            <ul>
              <li data-transition="fade"> <img src="./style/images/dummy.png"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="repeat">
                <h1 class="tp-caption caption large sfb" data-x="center" data-y="center" data-voffset="-25" data-speed="900" data-start="1000" data-endspeed="100" data-easing="Sine.easeOut" style="color: black">METRO EXODUS</h1>
                <div class="tp-caption tp-fade fadeout tp-resizeme" data-x="center" data-y="center" data-voffset="25" data-speed="100"
                data-start="1500"
                data-easing="Power4.easeOut"
                data-splitin="chars"
                data-splitout="chars"
                data-elementdelay="0.03"
                data-endelementdelay="0"
                data-endspeed="100"
                data-endeasing="Power1.easeOut"
                style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; font-family: 'Lucida Console'; color: black"><b>Journey beyond!</b></div>
                <div class="arrow smooth"><a href="#about"><i class="icon-down-open-big"></i></a></div>
              </li>
            </ul>
            <div class="tp-bannertimer"></div>
          </div>
          <!-- /.fullscreenbanner --> 
        </div>
        <!-- /.revolution --> 
      </section>
      <!-- /#home -->
        
      <div class="container">
        <section id="about">
          <div class="box">
            <h2 class="section-title">About The Game</h2>
            <div class="row">
              <div class="col-md-5 col-md-push-7 col-sm-12">
                <figure class="frame"><img src="http://donsgame.ir/wp-content/uploads/2019/02/62d58326-ca7f-4f37-bd67-728f0b5725bb-1170x610.jpg" alt="" /></figure>
              </div>
              <!-- /column -->
              <div class="col-md-7 col-md-pull-5 col-sm-12">
                <p style="text-align: justify">Metro Exodus is a first-person shooter game with survival horror and stealth elements. Set in the post-apocalyptic wasteland of the former Russian Federation, the player must cope with the new hazards and engage in combat against mutated creatures as well as hostile humans. The player wields an arsenal of hand-made weaponry which can be customized through scavenging materials and a crafting system.</p> 
                <p style="text-align: justify">The game features a mixture of linear levels and sandbox environments. It also includes a dynamic weather system, a day-night cycle, and environments that change along with the seasons as the story progresses. It is set over the course of one whole in-game year.</p>
                <p style="text-align: justify">Release Date: &nbsp February 15, 2019<br>
                                            Platform: &nbsp Microsoft Windows, PlayStation 4, Xbox One<br>
                                            Genre: &nbsp First-Person Shooter<br>
                                            Mode: &nbsp Single-player</p>    
            </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
             
          </div>
          <!-- /.box --> 
        </section>
        <!-- /#about -->

        <section id="requirements">
                <div class="box">
                  <h2 class="section-title">System Requirements</h2>
                  <div class="row">
                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                        <p><h4>Minimum</h4></p>
                        OS: &nbsp Windows 7 | 8 | 10<br>
                        CPU: &nbsp Intel Core i5-4440 or equivalent<br>
                        RAM: &nbsp 8 GB System Memory<br>
                        GPU: &nbsp GeForce GTX 670 | GeForce GTX 1050 | AMD Radeon HD 7870<br>
                        GPU RAM: &nbsp 2 GB Video Memory<br>
                        DIRECTX: &nbsp DirectX 11 | 12
                    </div>
                    <!-- /column -->
                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                        <p><h4>Recommended</h4></p>
                        OS: &nbsp Windows 10<br>
                        CPU: &nbsp Intel Core i7-4770K or equivalent<br>
                        RAM: &nbsp 8 GB System Memory<br>
                        GPU: &nbsp GeForce GTX 1070 | GeForce RTX 2060 | AMD RX Vega 56<br>
                        GPU RAM: &nbsp 8 GB Video Memory<br>
                        DIRECTX: &nbsp DirectX 12 
                  </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                   
                </div>
                <!-- /.box --> 
              </section>
              <!-- /#requirements -->

         <section id="screenshots" class="portfolio">
                  <div class="box">
                    <h2 class="section-title pull-left">Screenshots</h2>
                    <div class="clearfix"></div>
                    <div id="grid-container" class="cbp-l-grid-masonry">
                      <ul>
                        <li class="cbp-item frame architecture">
                          <div class="cbp-caption-defaultWrap"> <img src="https://cdn.gearnuke.com/wp-content/uploads/2019/02/metro-exodus-1-8.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame macro">
                          <div class="cbp-caption-defaultWrap"> <img src="https://cdn.gearnuke.com/wp-content/uploads/2019/02/metro-exodus-1-4-1024x576.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame portrait">
                          <div class="cbp-caption-defaultWrap"> <img src="http://sm.ign.com/ign_es/trailer/m/metro-exod/metro-exodus-gameplay-del-e3-2018_k1fa.jpg"> </div>
                        </li>
                        <li class="cbp-item frame still-life">
                          <div class="cbp-caption-defaultWrap"> <img src="https://cdn.gearnuke.com/wp-content/uploads/2019/02/metro-exodus-1-3.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame architecture">
                          <div class="cbp-caption-defaultWrap"> <img src="https://assets.vg247.com/current//2019/02/metro_exodus_5.png" alt=""> </div>
                        </li>
                        <li class="cbp-item frame macro">
                          <div class="cbp-caption-defaultWrap"> <img src="https://cdn.gearnuke.com/wp-content/uploads/2019/02/metro-exodus-1-7.jpg" alt=""> </div>
                        </li>
                      </ul>
                    </div>
                    <!-- /.cbp-l-grid-masonry -->
                    </div>
                  <!-- /.box --> 
                </section>
                <!-- /#screenshots -->

                <section id="videos">
                        <div class="box">
                          <h2 class="section-title">Videos</h2>
                          <div class="row">
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                <iframe width="510" height="280" src="https://www.youtube.com/embed/hAuj2ExAMcw">
                                </iframe>
                            </div>
                            <!-- /column -->
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                <iframe width="510" height="280" src="https://www.youtube.com/embed/LlaSxWvefrg">
                                </iframe>  
                            </div><br><br>
                            <!-- /column -->
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                    <iframe width="510" height="280" src="https://www.youtube.com/embed/B0nPID4VqLE">
                                    </iframe>
                                </div>
                                <!-- /column -->
                                <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                    <iframe width="510" height="280" src="https://www.youtube.com/embed/vb8w7tN_-48">
                                    </iframe>  
                                </div><br>
                                <!-- /column -->
                          </div>
                          <!-- /.row -->
                           
                        </div>
                        <!-- /.box --> 
                      </section>
                      <!-- /#requirements -->
        
        <!-- /#tweets -->
        <section id="contact">
          <div class="box">
                <h2 class="section-title pull-left">Tweets</h2>
                <div class="clearfix"></div>
                <div id="grid-container" class="cbp-l-grid-masonry">
                <div class="row">
                <div id="tweet0" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet1" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet2" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                </div>
                <div class="row">
                <div id="tweet3" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet4" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet5" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                </div>
                <script sync src="https://platform.twitter.com/widgets.js"></script>
  
                <script type='text/javascript'>

                var tweet = [];
                var id = [];
                var rows =<%-JSON.stringify(alltweets)%>

                for (var i = 0; i < rows.length; i++){
                    
                    tweet[i] = document.getElementById("tweet" + i);
                    id[i] = rows[i].id_str;
                
                    twttr.widgets.createTweet(
                        id[i], tweet[i], 
                        {
                        conversation : 'none',    // or all
                        cards        : 'visible',  // or visible 
                        linkColor    : '#cc0000', // default is blue
                        theme        : 'light'    // or dark
                        })
                };
                </script>
                </div>
          </div>
          <!-- /.box --> 
        </section>
        <!-- /#tweets -->
        
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.body-wrapper --> 
    </body>