<body class="full-layout">
    <style>

            #tweet {
              width: 400px !important;
            }
          
            #tweet iframe {
              border: none !important;
              box-shadow: none !important;
            }
          
          </style>
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
    <div class="body-wrapper">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header"> <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
          <div class="navbar-brand text-center"> <a href="/dashboard">Home</a><br><br>
            <a href="/browse">Browse</a> </div>
          <!-- /.navbar-brand --> 
        </div>
        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="current"><a href="#home" class="hint--right" data-hint="Home"><i class="budicon-home-1"></i><span>Home</span></a></li>
            <li><a href="#about" class="hint--right" data-hint="About"><i class="budicon-profile"></i><span>About</span></a></li>
            <li><a href="#requirements" class="hint--right" data-hint="Requirements"><i class="budicon-list"></i><span>Requirements</span></a></li>
            <li><a href="#screenshots" class="hint--right" data-hint="Screenshots"><i class="budicon-image"></i><span>Screenshots</span></a></li>
            <li><a href="#videos" class="hint--right" data-hint="Videos"><i class="budicon-video"></i><span>Videos</span></a></li>
            <li><a href="#contact" class="hint--right" data-hint="Tweets"><i class="budicon-profile"></i><span>Tweets</span></a></li>
            <li><a href="#elsewhere" class="hint--right fancybox-inline" data-hint="Follow" data-fancybox-width="325" data-fancybox-height="220"><i class="icon-heart-empty-1"></i><span>Elsewhere</span></a></li>
          </ul>
          <!-- /.navbar-nav --> 
        </div>
        <!-- /.navbar-collapse -->
        <div id="elsewhere" style="display:none;">
          <h1>Follow, Like, Subscribe!</h1>
          <div class="divide20"></div>
          <ul class="social">
            <li><a href="https://twitter.com/MortalKombat?lang=en" target="_blank"><i class="icon-s-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/Mk112019/" target="_blank"><i class="icon-s-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCKmLw-0rYN0prXDFITjN4og" target="_blank"><i class="icon-s-youtube"></i></a></li>
          </ul>
        </div>
        <!-- /#elsewhere --> 
      </nav>
      <!-- /.navbar -->
      
      <section id="home" class="naked">
        <div class="fullscreenbanner-container revolution">
          <div class="fullscreenbanner">
              
          </div>
          <!-- /.fullscreenbanner --> 
        </div>
        <!-- /.revolution --> 
      </section>
      <!-- /#home -->
        
      <div class="container">
        <section id="about">
          <div class="box">
            <h2 class="section-title">About The Game</h2>
            <div class="row">
              <div class="col-md-5 col-md-push-7 col-sm-12">
                <figure class="frame"><img src="https://4.bp.blogspot.com/-7xbEycK64ZU/XEMnWRwOuNI/AAAAAAAANAU/6bN-V7r2sSANLUhasySvphopsXwUBpVdACLcBGAs/s1920/mortal-kombat-11-wallpaper.jpg" alt="" /></figure>
              </div>
              <!-- /column -->
              <div class="col-md-7 col-md-pull-5 col-sm-12">
                <p style="text-align: justify">Like its predecessor, Mortal Kombat 11 is a 2.5D fighting game. Alongside the returning Fatalities and Brutalities, new gameplay features are introduced, such as Fatal Blow and Krushing Blow.</p> 
                <p style="text-align: justify">Mortal Kombat 11 also introduces a Gear system, similar to Netherrealm Studio’s latest DC fighting game Injustice 2. However, this game's outfit-based Gear system is largely cosmetic, while retaining the move list customizations on the Variation system that were introduced in Mortal Kombat X, which allows players to create their selected characters’ own Variation-based move lists.</p>
                <p style="text-align: justify">Release Date: &nbsp April 23, 2019<br>
                                            Platform: &nbsp Microsoft Windows, Nintendo Switch, PlayStation 4, Xbox One<br>
                                            Genre: &nbsp Fighting<br>
                                            Mode: &nbsp Single-player, Multiplayer</p>    
            </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
             
          </div>
          <!-- /.box --> 
        </section>
        <!-- /#about -->

        <section id="requirements">
                <div class="box">
                  <h2 class="section-title">System Requirements</h2>
                  <div class="row">
                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                        <p><h4>Minimum</h4></p>
                        OS: &nbsp 64-bit Windows 7 / Windows 10<br>
                        CPU: &nbsp Intel Core i5-750, 2.66 GHz / AMD Phenom II X4 965, 3.4 GHz or AMD Ryzen™ 3 1200, 3.1 GHz<br>
                        RAM: &nbsp 8 GB System Memory<br>
                        GPU: &nbsp NVIDIA® GeForce™ GTX 670 or NVIDIA® GeForce™ GTX 1050 / AMD® Radeon™ HD 7950 or AMD® Radeon™ R9 270<br>
                        DIRECTX: &nbsp DirectX 11
                    </div>
                    <!-- /column -->
                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                        <p><h4>Recommended</h4></p>
                        OS: &nbsp 64-bit Windows 7 / Windows 10<br>
                        CPU: &nbsp Intel Core i3-2100, 3.10 GHz / AMD FX-6300, 3.5 GHz or AMD Ryzen™ 5 1400, 3.2 GHz<br>
                        RAM: &nbsp 8 GB System Memory<br>
                        GPU: &nbsp NVIDIA® GeForce™ GTX 780 or NVIDIA® GeForce™ GTX 1060-6GB / AMD® Radeon™ R9 290 or RX 570<br>
                        DIRECTX: &nbsp DirectX 11
                  </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                   
                </div>
                <!-- /.box --> 
              </section>
              <!-- /#requirements -->

         <section id="screenshots" class="portfolio">
                  <div class="box">
                    <h2 class="section-title pull-left">Screenshots</h2>
                    <div class="clearfix"></div>
                    <div id="grid-container" class="cbp-l-grid-masonry">
                      <ul>
                        <li class="cbp-item frame architecture">
                          <div class="cbp-caption-defaultWrap"> <img src="https://cdn.gearnuke.com/wp-content/uploads/2018/12/mortal-kombat-11-leak.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame macro">
                          <div class="cbp-caption-defaultWrap"> <img src="https://s3.amazonaws.com/prod-media.gameinformer.com/styles/full/s3/2019/01/17/e577a8ef/mk11_screenshot3_1547683260.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame portrait">
                          <div class="cbp-caption-defaultWrap"> <img src="https://i.ytimg.com/vi/XOkilmrbpSQ/maxresdefault.jpg"> </div>
                        </li>
                        <li class="cbp-item frame still-life">
                          <div class="cbp-caption-defaultWrap"> <img src="https://i.ytimg.com/vi/yGNZhDEssKE/maxresdefault.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame architecture">
                          <div class="cbp-caption-defaultWrap"> <img src="https://s3.amazonaws.com/prod-media.gameinformer.com/styles/full/s3/2019/01/17/91e71219/mk11_screenshot2_1547683253.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame macro">
                          <div class="cbp-caption-defaultWrap"> <img src="https://games-b26f.kxcdn.com/wp-content/uploads/2019/01/rsz_1screen_shot_2019-01-18_at_93048_am.png" alt=""> </div>
                        </li>
                      </ul>
                    </div>
                    <!-- /.cbp-l-grid-masonry -->
                    </div>
                  <!-- /.box --> 
                </section>
                <!-- /#screenshots -->

                <section id="videos">
                        <div class="box">
                          <h2 class="section-title">Videos</h2>
                          <div class="row">
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                <iframe width="510" height="280" src="https://www.youtube.com/embed/UoTams2yc0s">
                                </iframe>
                            </div>
                            <!-- /column -->
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                <iframe width="510" height="280" src="https://www.youtube.com/embed/yUkL8RdG1p4">
                                </iframe>  
                            </div><br><br>
                            <!-- /column -->
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                    <iframe width="510" height="280" src="https://www.youtube.com/embed/p-LTqPisR6A">
                                    </iframe>
                                </div>
                                <!-- /column -->
                                <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                    <iframe width="510" height="280" src="https://www.youtube.com/embed/bxFoRCvEjUA">
                                    </iframe>  
                                </div><br>
                                <!-- /column -->
                          </div>
                          <!-- /.row -->
                           
                        </div>
                        <!-- /.box --> 
                      </section>
                      <!-- /#requirements -->
        
        <!-- /#tweets -->
        <section id="contact">
          <div class="box">
                <h2 class="section-title pull-left">Tweets</h2>
                <div class="clearfix"></div>
                <div id="grid-container" class="cbp-l-grid-masonry">
                <div class="row">
                <div id="tweet0" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet1" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet2" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                </div>
                <div class="row">
                <div id="tweet3" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet4" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet5" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                </div>
                <script sync src="https://platform.twitter.com/widgets.js"></script>
  
                <script type='text/javascript'>

                var tweet = [];
                var id = [];
                var rows =<%-JSON.stringify(alltweets)%>

                for (var i = 0; i < rows.length; i++){
                    
                    tweet[i] = document.getElementById("tweet" + i);
                    id[i] = rows[i].id_str;
                
                    twttr.widgets.createTweet(
                        id[i], tweet[i], 
                        {
                        conversation : 'none',    // or all
                        cards        : 'visible',  // or visible 
                        linkColor    : '#cc0000', // default is blue
                        theme        : 'light'    // or dark
                        })
                };
                </script>
                </div>
          </div>
          <!-- /.box --> 
        </section>
        <!-- /#tweets -->
        
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.body-wrapper --> 
    </body>