<body class="full-layout">
    <style>

            #tweet {
              width: 400px !important;
            }
          
            #tweet iframe {
              border: none !important;
              box-shadow: none !important;
            }
          
          </style>
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
    <div class="body-wrapper">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header"> <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
          <div class="navbar-brand text-center"> <a href="/dashboard">Home</a><br><br>
            <a href="/browse">Browse</a> </div>
          <!-- /.navbar-brand --> 
        </div>
        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="current"><a href="#home" class="hint--right" data-hint="Home"><i class="budicon-home-1"></i><span>Home</span></a></li>
            <li><a href="#about" class="hint--right" data-hint="About"><i class="budicon-profile"></i><span>About</span></a></li>
            <li><a href="#requirements" class="hint--right" data-hint="Requirements"><i class="budicon-list"></i><span>Requirements</span></a></li>
            <li><a href="#screenshots" class="hint--right" data-hint="Screenshots"><i class="budicon-image"></i><span>Screenshots</span></a></li>
            <li><a href="#videos" class="hint--right" data-hint="Videos"><i class="budicon-video"></i><span>Videos</span></a></li>
            <li><a href="#contact" class="hint--right" data-hint="Tweets"><i class="budicon-profile"></i><span>Tweets</span></a></li>
            <li><a href="#elsewhere" class="hint--right fancybox-inline" data-hint="Follow" data-fancybox-width="325" data-fancybox-height="220"><i class="icon-heart-empty-1"></i><span>Elsewhere</span></a></li>
          </ul>
          <!-- /.navbar-nav --> 
        </div>
        <!-- /.navbar-collapse -->
        <div id="elsewhere" style="display:none;">
          <h1>Follow, Like, Subscribe!</h1>
          <div class="divide20"></div>
          <ul class="social">
            <li><a href="https://twitter.com/RE_Games" target="_blank"><i class="icon-s-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/residentevil.de/" target="_blank"><i class="icon-s-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/user/ResidentEvil" target="_blank"><i class="icon-s-youtube"></i></a></li>
          </ul>
        </div>
        <!-- /#elsewhere --> 
      </nav>
      <!-- /.navbar -->
      
      <section id="home" class="naked">
        <div class="fullscreenbanner-container revolution">
          <div class="fullscreenbanner">
          </div>
          <!-- /.fullscreenbanner --> 
        </div>
        <!-- /.revolution --> 
      </section>
      <!-- /#home -->
        
      <div class="container">
        <section id="about">
          <div class="box">
            <h2 class="section-title">About The Game</h2>
            <div class="row">
              <div class="col-md-5 col-md-push-7 col-sm-12">
                <figure class="frame"><img src="https://video-game-guide-walkthrough.supersoluce.com/wp-content/uploads/2019/01/24/Resident-Evil-2-Remake-Walkthrough-Guide-Vignette.jpg" alt="" /></figure>
              </div>
              <!-- /column -->
              <div class="col-md-7 col-md-pull-5 col-sm-12">
                <p style="text-align: justify">Resident Evil 2 is a remake of the 1998 game Resident Evil 2 released for the PlayStation. Unlike the original, which uses tank controls and fixed camera angles, the remake features "over-the-shoulder" third-person shooter gameplay similar to Resident Evil 4."</p> 
                <p style="text-align: justify">Additionally, the standard difficulty mode allows players to save as often as they'd like inside safe rooms. If the player chooses to play on "Hardcore" difficulty, players will be required to collect and use a finite number of "ink ribbons" to save the game's progress, much like in the original game.</p>
                <p style="text-align: justify">Release Date: &nbsp January 25, 2019<br>
                                            Platform: &nbsp Microsoft Windows, PlayStation 4, Xbox One<br>
                                            Genre: &nbsp Survival horror<br>
                                            Mode: &nbsp Single-player</p>    
            </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
             
          </div>
          <!-- /.box --> 
        </section>
        <!-- /#about -->

        <section id="requirements">
                <div class="box">
                  <h2 class="section-title">System Requirements</h2>
                  <div class="row">
                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                        <p><h4>Minimum</h4></p>
                        OS: &nbsp WINDOWS® 7, 8, 8.1, 10 (64-BIT Required)<br>
                        CPU: &nbsp Intel® Core™ i5-4460, 2.70GHz or AMD FX™-6300 or better<br>
                        RAM: &nbsp 8 GB System Memory<br>
                        GPU: &nbsp NVIDIA® GeForce® GTX 760 or AMD Radeon™ R7 260x<br>                        
                        DEDICATED VIDEO RAM: &nbsp 2048 MB<br>
                    </div>
                    <!-- /column -->
                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                        <p><h4>Recommended</h4></p>
                        OS: &nbsp WINDOWS® 7, 8, 8.1, 10 (64-BIT Required)<br>
                        CPU: &nbsp Intel® Core™ i7-3770 or AMD FX™-9590 or better<br>
                        RAM: &nbsp 8 GB System Memory<br>
                        GPU: &nbsp NVIDIA® GeForce® GTX 1060 or AMD Radeon™ RX 480<br>
                        DEDICATED VIDEO RAM: &nbsp 2048 MB<br>   
                  </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                   
                </div>
                <!-- /.box --> 
              </section>
              <!-- /#requirements -->

         <section id="screenshots" class="portfolio">
                  <div class="box">
                    <h2 class="section-title pull-left">Screenshots</h2>
                    <div class="clearfix"></div>
                    <div id="grid-container" class="cbp-l-grid-masonry">
                      <ul>
                        <li class="cbp-item frame architecture">
                          <div class="cbp-caption-defaultWrap"> <img src="https://static.trueachievements.com/customimages/082461.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame macro">
                          <div class="cbp-caption-defaultWrap"> <img src="https://www.jeuxvideo-live.com/screens/resident-evil-2-remake/residentevil2-4-1539073346.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame portrait">
                          <div class="cbp-caption-defaultWrap"> <img src="https://cdn.wccftech.com/wp-content/uploads/2018/10/Resident-Evil-2-Remake-zombies.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame still-life">
                          <div class="cbp-caption-defaultWrap"> <img src="https://www.trueachievements.com/customimages/087952.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame architecture">
                          <div class="cbp-caption-defaultWrap"> <img src="https://gamingbolt.com/wp-content/uploads/2018/10/resident-evil-2-1-1.jpg" alt=""> </div>
                        </li>
                        <li class="cbp-item frame macro">
                          <div class="cbp-caption-defaultWrap"> <img src="https://media.playstation.com/is/image/SCEA/resident-evil-revelations-2-screen-03-us-06feb15?$MediaCarousel_Original$" alt=""> </div>
                        </li>
                      </ul>
                    </div>
                    <!-- /.cbp-l-grid-masonry -->
                    </div>
                  <!-- /.box --> 
                </section>
                <!-- /#screenshots -->

                <section id="videos">
                        <div class="box">
                          <h2 class="section-title">Videos</h2>
                          <div class="row">
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                <iframe width="510" height="280" src="https://www.youtube.com/embed/0KTvCUM91xY">
                                </iframe>
                            </div>
                            <!-- /column -->
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                <iframe width="510" height="280" src="https://www.youtube.com/embed/32dbDFEAIuQ">
                                </iframe>  
                            </div><br><br>
                            <!-- /column -->
                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                    <iframe width="510" height="280" src="https://www.youtube.com/embed/lfjqxoj6y50">
                                    </iframe>
                                </div>
                                <!-- /column -->
                                <div class="col-md-6 col-md-6 col-sm-6 col-xs-6">
                                    <iframe width="510" height="280" src="https://www.youtube.com/embed/E-st7dwWiV4">
                                    </iframe>  
                                </div><br>
                                <!-- /column -->
                          </div>
                          <!-- /.row -->
                           
                        </div>
                        <!-- /.box --> 
                      </section>
                      <!-- /#requirements -->
        
        <!-- /#tweets -->
        <section id="contact">
          <div class="box">
                <h2 class="section-title pull-left">Tweets</h2>
                <div class="clearfix"></div>
                <div id="grid-container" class="cbp-l-grid-masonry">
                <div class="row">
                <div id="tweet0" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet1" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet2" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                </div>
                <div class="row">
                <div id="tweet3" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet4" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div id="tweet5" class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                </div>
                <script sync src="https://platform.twitter.com/widgets.js"></script>
  
                <script type='text/javascript'>

                var tweet = [];
                var id = [];
                var rows =<%-JSON.stringify(alltweets)%>

                for (var i = 0; i < rows.length; i++){
                    
                    tweet[i] = document.getElementById("tweet" + i);
                    id[i] = rows[i].id_str;
                
                    twttr.widgets.createTweet(
                        id[i], tweet[i], 
                        {
                        conversation : 'none',    // or all
                        cards        : 'visible',  // or visible 
                        linkColor    : '#cc0000', // default is blue
                        theme        : 'light'    // or dark
                        })
                };
                </script>
                </div>
          </div>
          <!-- /.box --> 
        </section>
        <!-- /#tweets -->
        
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.body-wrapper --> 
    </body>